body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
  }
  .nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    color: white;
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
  .nav li {
    display: inline-block;
  }

  .bar-container{
    position: absolute;
    
  }
  .bar{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:white;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    margin: 0 1px;

    
  }